body, html{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}



header{
    background-color: violet;
    height: 60px;
}

section{
    background-color: green;
    display: flex;
    overflow: hidden;
}

nav{
 width: 25%;
 background-color: red;
}

article{
    width: 75%;
    height: 250px;
    background-color: bisque;
}
footer{
    background-color: aquamarine;
    height: 80px;
    clear: both;
}

#container{
    width: 1200px ;
    margin: 0 auto;
  background-color: orange;
}